h1 {
  text-align: center;
}

.react-calendar { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  max-width: 100%;
  background-color: #fff;
  color: #222;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
 }
 .react-calendar__navigation button {
  color: #222;
  min-width: 44px;
  background: none;
  font-size: 18px;
  margin-top: 8px;
 }
 .react-calendar__navigation button:enabled:hover,
 .react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
 }
 .react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
 }
 abbr[title] {
  text-decoration: none;
 }
 .react-calendar__month-view__days__day--weekend {
  color: #222;
 } 
 .react-calendar__tile:enabled:hover,
 .react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: #222;
 }
 .react-calendar__tile--now {
  background: #6f48eb33;
  font-weight: bold;
  color: #222;
 }
 .react-calendar__tile--now:enabled:hover,
 .react-calendar__tile--now:enabled:focus {
  background: #6f48eb33;
  font-weight: bold;
  color: #222;
 }
 .react-calendar__tile--hasActive:enabled:hover,
 .react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
 }
 .react-calendar__tile--active {
  background: white;
  font-weight: bold;
  color: #222;
 }
 .react-calendar__tile--active:enabled:hover,
 .react-calendar__tile--active:enabled:focus {
  background: white;
  color: #222;
 }
 .react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
 }
 .react-calendar__tile--range {
  background: #f8f8fa;
  color: #222;
  border-radius: 0;
 }
 .react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: white;
  color: #222;
 }
 .react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: white;
  color: #222;
 }


.verysad {
  background: #FF2E1D;
}

.sad {
  background: #FF871D;
}

.okay {
  background: #FFE438;
}

.good {
  background: #CCFF0E;
}

.great {
  background: #6DFF0E;
}

.grey {
  background: #DDDDDD;
}

.date {
  text-align: center;
}

.start button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #25b92a;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 10px;
}

.start button:hover {
  background-color: #009211;
  color: rgb(0, 0, 0);
}
